@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* all of font in this site */

*{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 19px; */
}

/* about Content.js className*/
.menu-card{
    @apply flex flex-col justify-center items-center
    bg-white h-screen font-mono py-40;
}

/* portfolio.js */
.portfolio{
    @apply flex flex-col justify-center items-center
    bg-white h-screen font-mono py-40 m-36;
}

.center-content{
    @apply flex flex-col justify-center items-center;
}


/* Hero.js - Go to see */
.hero-btn-go-to {
    @apply py-6 px-10 bg-yellow-500 rounded-full text-3xl 
    hover:bg-yellow-300 transition duration-300 ease-in-out
    flex items-center animate-bounce;
}

.hero-total {
    @apply bg-white h-screen flex flex-col 
    justify-center items-center;
}

.hero-front{
    @apply lg:text-9xl md:text-7xl 
    sm:text-5xl text-3xl  font-black mb-14;
}

/* portfolio.js git,view button */
.pro-button{
    @apply text-center text-gray-600 bg-gray-200 
    hover:bg-white rounded-md;
}